.interests {
  &__container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: map-get($margenes, mb-2);
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    font-size: 1.5rem;
    color: $text-color-light;
    margin-bottom: 0.25rem;
    gap: 2.5rem;
  }
}