//classes adjusted to reduce size and print size on A4 sheet
body.scale-resume {
  font-size: 0.813rem;
  width: 100%;

  .section{
    &-title {
      font-size: 0.938rem;
    }
  }

  .change-theme, .generate-pdf, .home__btn-movil{
    display: none;
  }

  /* .resume {
    width: min-content;
  } */

  .bd-container {
    max-width: 595px;
  }
  
  .section {
    padding: 1.5rem 0 0.80rem;
  }

  .section-title {
    margin-bottom: 0.75rem;
  }

  .resume__left, &.resume__right {
    padding: 0 1rem;
  }

  .home {
    &__title {
      font-size: 0.938rem;
    }
    
    &__profession {
      font-size: 0.813rem;
      margin-bottom: map-get($margenes, mb-1);
    }

    &__information {
      font-size: 0.75rem;
    }

    &__img {
      width: 90px;
      height: 70px;
    }

    &__container {
      gap: 1.5rem;
    }

    &__data {
      gap: 0.25rem;
    }
  
    &__address {
      gap: 0.75rem;
    }

    &__icon {
      font-size: 1rem;
    }
  }

  .social {
    &__container {
    gap: 0.75rem;
    }

    &__icon {
      font-size: 1rem;
    }
  }

  .interests {
    &__icon {
      font-size: 1rem;
    }

    &__container {
      column-gap: 2.5rem;
    }
  }

  .education {
    &__title {
      font-size: 0.875rem;
    }
  
    &__studies {
      font-size: 0.75rem;
    }
  
    &__year {
      font-size: 0.688rem;
    }

    &__container{
      gap: 1rem;
    }

    &__time {
      padding-right: 0.5rem;
    }

    &__rounder {
      width: 11px;
      height: 11px;
      margin-top: 0.22rem;
    }

    &__line {
      width: 1px;
      height: 110%;
      transform: translate(5px, 0);
    }

    &__data {
      gap: 0.25rem;
    }
  }

  .experience {
    &__container{
      gap: 1rem;
    }

    &__time {
      padding-right: 0.5rem;
    }

    &__rounder {
      width: 11px;
      height: 11px;
      margin-top: 0.22rem;
    }

    &__line {
      width: 1px;
      height: 110%;
      transform: translate(5px, 0);
    }

    &__data {
      gap: 0.25rem;
    }

    &__title {
      font-size: 0.875rem;
    }
  
    &__studies {
      font-size: 0.75rem;
    }
  
    &__year {
      font-size: 0.688rem;
    }
  }

  .certificate {
    &__container{
      gap: 1rem;
    }
  }

  .skills {
    &__name {
      margin-bottom: map-get($margenes, mb-1);
    }
  }

  .social {
    &__link {
      font-size: 0.75rem;
    }
  }

  .profile {
    &_section {
      .section-title {
        font-size: 0.938rem;
      }
    }
  }

  .referees {
    &__subtitle, &__contact {
      font-size: 0.688rem;
    }
  
    &__title {
      font-size: 0.875rem;
    }
  }
}

/* body.scale-resume {
  font-size: 0.813rem;
  h1 {
    font-size: 0.938rem;
  }
  h2 {
    font-size: 0.938rem;
  }
  h3 {
    font-size: 0.875rem;
  }
} */

  /* $body-scale-resume:(
  "h1-font-size": 0.938rem,
  "h2-font-size": 0.938rem,
  "h3-font-size": 0.875rem,
  "normal-font-size": 0.813rem,
  "small-font-size": 0.75rem,
  "smaller-font-size": 0.688rem
  );
} */
